@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
}
.container .row{
    width: 100%;
    margin: auto;
}
.container .row .header{
    width: 100%;
    text-align: center;
    margin: auto;
    background-color:#104161;
    height: 170px;
}
.container .row .header h1{
    padding-top: 30px;
    font-size: 45px;
    color:rgb(226, 146, 48);
}
.container .row .header p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}
.content .card{
    flex: 30%;
    margin: 50px 20px;
    box-shadow: 0 4px 14px hsl(35deg 25% 15% / 10%);
    background-color: #fff;
    border-radius: 0.5rem;
    width: 50%;
    transition: all .2s ease-in-out;
}
.content .card:hover{
    transform: scale(1.03);
}
.content .card img{
    width: 100%;
    height: auto;
}
.content .card h4{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}
.content .card h6{
    margin-top: 8px;
    margin-left: 10px;
    font-size: 10px;
    color: #104161;
}
.content .card p{
    font-size: 15px;
    color: #4e3707;
    line-height: 1.5;
    padding: 10px;
    margin-bottom: 7px;
}
@media screen and (max-width: 768px){
    .content{
        flex-direction: column;
    }
}
